@charset "utf-8";

*{
	margin:0; 
	padding:0; 
	list-style:none; 
	text-decoration:none; 
	font-family:"맑은 고딕"; 
	font-size:14px;
	color:#333;
}
.cf:after{
	content:'';
	display: block;
	clear:both;
}
/* wireframe */
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 100px;
	background: #aaa;
	position:relative;
}
.slides{
	height: 300px;
	background: #bbb;
}
main{
	height: 200px;
	background: #ccc ;
} 
footer{
	height: 100px;
	background: #ddd;
}
/* header */
header .logo{
	width: 200px;
	background: #999;
	float: left;
	height: 100%;
}
header nav{
	float: right;
}
/* Navigation */
/*서브메뉴의 높이가 그대로 반영되어 서브메뉴의 부모인 nav의 높이가 커지도록 작성
 nav의 높이가 변경되어도 header의 레이아웃이 깨지지 않도록, nav에 absolute 사용.
 배경을 #fff로 채워 배경이 #fff 로 전체 나타나도록 한다*/
header nav{
	width: 720px;
	position:absolute;
	right:10px;
	top:30px;
	background:#fff;
/*이후 슬라이드 ㄷ보다 위쪽으로 올라오도록록 */
	position: relative;
	z-index: 1;	
}
nav > ul > li{
	line-height: 40px;
	float: left;
	width: 180px;	
	text-align: center;
}
nav > ul > li a{
	color: #fff;
	display: block;
	background: #333;
}

nav ul ul li a{
	background:#fff;
	display: block;
	color:#333;
}
nav > ul > li a:hover{
	background: #3498db;	
}

/*서브 메뉴의 크기가 그대로 잡히도록, absolute를 잡지않음  */
nav ul ul {
	width: 100%;
	display: none;
}

/* Main Contents */
main section{
	width: 400px;
	float:left;
	height: 100%;
}
main .notice{
	background: #777;
}
main .banner{
	background: #666;
}
main .quick_links{
	background: #555;
}
/* Footer */
footer div{
	float: left;
	height: 100%;
}
footer .logo{
	width: 200px;
	background: #444;
}
footer .copyright{
	width: 800px;	
	background: #333;
}
footer .sns{
	width: 200px;	
	background: #222;
}
/* Navigation */
