@charset "utf-8";

*{
	margin:0; 
	padding:0; 
	list-style:none; 
	text-decoration:none; 
	font-family:"맑은 고딕"; 
	font-size:14px;
	color:#333;
	box-sizing: border-box;
}
.cf:after{
	content:'';
	display: block;
	clear:both;
}
/* wireframe */
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 100px;
	background: #aaa;
}
.slides{
	height: 300px;
	background: #bbb;
}
main{
	height: 200px;
	background: #ccc ;
} 
footer{
	height: 100px;
	background: #ddd;
}
/* header */

header {
/*header에 기준을 설정, header안의 콘텐츠가 서브메뉴 배경보다 앞으로 나올 수 있도록 z-index/
	position:relative;
	z-index:1;
}

header:after{
	content:'';
/*header 기준으로 절대값으로 header 바로 하단 배치 */
	position:absolute;
	left:0;
	right:0;
	height:0;
	top:100%;
	background: #ebebeb;
/* 마우스 올라올 때 높이 변경되도록 */
	transition:height 0.4s ease-in-out;
/* header 내용보다 아래에 배치되도록 */
	z-index:-1;
}

/* header에 active 추가되었을 때 :after요소의 높이가 160px로 변 */
header.active:after{
	height:160px;
}
header .logo{
	width: 200px;
	background: #999;
	float: left;
	height: 100%;
}

header .logo{
	width: 200px;
	background: #999;
	float: left;
	height: 100%;
}
header nav{
	float: right;
}
/* Navigation */
header nav{
	width:720px;
	margin-top:60px;
	margin-right:10px;
}
nav > ul > li{
	float:left;
	width:180px;
	line-height:40px;
	text-align: center;
	position:relative;
}

nav > ul > li > a{
	color:#fff;
	display:block;
	background:#333;
}

/* 배경 안줌 */
nav ul ul li a {
	display:block;
	color:#333;
}

nav > ul > li a:hover{
	background: #3498db;
}

nav ul ul {
	position:absolute;
	left:0;
	width:100%;
	display:none;
}
/* Main Contents */
main section{
	width: 400px;
	float:left;
	height: 100%;
}
main .notice{
	background: #777;
}
main .banner{
	background: #666;
}
main .quick_links{
	background: #555;
}
/* Footer */
footer div{
	float: left;
	height: 100%;
}
footer .logo{
	width: 200px;
	background: #444;
}
footer .copyright{
	width: 800px;	
	background: #333;
}
footer .sns{
	width: 200px;	
	background: #222;
}
/* Navigation */
